html {
    font-size: 20px;
}

body {
    font-family: Arial, "Meiryo", sans-serif;
    text-align: center;
}

h1 {
    font-family: Josefin Sans, sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 3px 3px 2px rgba(221, 221, 213, );
    border-bottom: solid 3px rgb(115, 115, 114);
}

.bule {
    color: skyblue;
}

.pink {
    color: rgb(255, 192, 203);
}

#basic > p {
    font-weight: bold;
}